{% include 'public/templates/navbar.html' %}

{% extends 'public/templates/public_templates.html'%}

{% block title %}Profile{% endblock %}

{% block main %}
{% block notify %}{% endblock %}
<article>
    <div class="content-section">
        <div class="row">
            <div class="col md-4">
            
                <!-- <p>{{ author }}</p> -->
          
                

                <div class="container" style="overflow-x:auto;">
                  <table>
                    <tr valign="top">
                      <div class="container">
                        <td>
                          {% for i in picture %}
                          <h6> <img  id="profle" class="rounded-circle " src="{{ url_for('static',filename='img/'+i[-1])}}" alt="" height="100" width="100" class="img-fluid img-thumbnail"></h6>
                          {% endfor %}
                          <h6><b>User:</b> {{ post[1] }}</h6>
                          <p></p><b>Bio:</b>{{ post[7] }}</p>
                          <h6><b>Age:</b>{{ post[6] }}</h6>
                          <h6><b>Gender:</b>{{ post[10] }}</h6>
                          <h6><b>City:</b>{{ city[-1] }}</h6>
                          <h6><b>SexualPreference:</b>{{ post[11] }}</h6>
                          <!-- <h6><b>Age:</b>{{ post.age }}</h6> -->
                        </td>
                                                
                        <hr>
                      </tr>
                    </table>
                  </div>
                    <hr>
                  </div>
                </div>
               
                <div>
       
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Report user</button>
                </div>
         
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Report user?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <form action="{{ url_for('delete_post',post_id=posts) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div> 
            </div>
           
        </div>
    </div>
    <script>
                    
      const likes = `{{  post[15] }}`
      const username = `{{ post[1]}}`
  </script>
 
</div>
</article>
<!-- Modal -->
{% endblock %}
